[Desktop Entry]
Version=1.0
Type=Application
Name=Archlinux Kernel Manager
Comment=Kernel Manager
Icon=/usr/share/icons/default/archlinux-preferences-system.svg
Exec=/usr/bin/archlinux-kernel-manager
NoDisplay=false
Categories=Utility;
Keywords=archlinux, kernel, kernels, manager
StartupNotify=false
Terminal=false
